services:
  # BACKEND SERVICE
  - type: web
    name: cloudvault-backend
    env: node
    root: cloudvault-backend
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 5000
      - key: MONGO_URI
        sync: false # User must enter this in dashboard
      - key: JWT_SECRET
        sync: false
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: AWS_REGION
        sync: false
      - key: AWS_BUCKET_NAME
        sync: false
      - key: SMTP_EMAIL
        sync: false
      - key: SMTP_PASSWORD
        sync: false

staticSites:
  # FRONTEND SERVICE
  - name: cloudvault-frontend
    root: cloudvault-frontend
    buildCommand: npm install && npm run build
    publish: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: cloudvault-backend
          property: url
