services:
  # BACKEND SERVICE
  - type: web
    name: cloudvault-backend
    env: node
    plan: free
    # Using explicit cd commands instead of 'root' property to avoid build errors
    buildCommand: cd cloudvault-backend && npm install
    startCommand: cd cloudvault-backend && node server.js
    envVars:
      - key: PORT
        value: 5000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: AWS_REGION
        sync: false
      - key: AWS_BUCKET_NAME
        sync: false
      - key: SMTP_EMAIL
        sync: false
      - key: SMTP_PASSWORD
        sync: false
